{% extends "layout.html" %}
{% block content %}
<image src="{{url_for('static',filename='women.png')}}">
    <h1 align="center" >A diabetes predictor for women</h1>
    <h5> Press on Predict on the navbar to get started</h5>
    <b><p>Women have always played an anchoring role when it comes to their families in India. More often than less, this has led to them prioritising their families’ health over their own.

Traditionally, diabetes has not been spoken in the context of women. But secondary studies have shown that there has been a rise in incidence of diabetes among women.
    </p>
    <p>
        "In reality, the step from awareness to positive action is very small; it is a matter of taking small steps, and establishing daily rituals and good practices that can minimise the effects of the condition (diabetes) and even reduce the chances of suffering from it altogether. One of the biggest of these steps could be for Indian women to start considering their own health and well-being on a par with that of their family... A conscientious decision by them to better manage their lifestyle with balanced food and exercise can be the key in controlling diabetes," says Dr Manoj Chadha, President, Endocrine Society of India and Consultant Endocrinologist at PD Hinduja National Hospital, Mumbai.

    </p>
    </b>
{% endblock %}
